extends layout

block content
  h1 #{title}
  p Welcome to #{title}!
  h2 Insertion
  form(
    action="/dataInsertionRequest"
    method="POST"
    enctype="multipart/form-data"
  )
    input(
      type='file'
      id='datafiles'
      name='datafiles'
      multiple
    )
    br
    input(
      type='submit'
      value='Upload Files '
      class='largeInsertion'
    )
  h2 View
  form(
    action="/dataViewRequest"
    method="POST"
  )
    input(
      type='text'
      id='id_code'
      name='id_code'
      class='largeInsertion'
      value=''
    )
    br
    input(
      type='submit'
      value='Search for ID'
      class='largeInsertion'
    )
